* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#0A3A57;
    color:#00008B;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

header .versiculo {
    font-style: italic;
    margin-top: 10px;
}

nav {
    background-color: #0066cc;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    margin-bottom: 10px;
    color: #004080;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
